choice_master/chm/xml_utils/question.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:complexType name="answertype">
  <xs:sequence>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="is_correct" type="xs:boolean"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="questiontype">
  <xs:sequence>
    <xs:element name="text" type="xs:string"/>
    <xs:element name="answer" maxOccurs="unbounded" type="answertype"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="filetype">
  <xs:sequence>
    <xs:element name="question" maxOccurs="unbounded" type="questiontype"/>
  </xs:sequence>
</xs:complexType>

<xs:element name="file" type="filetype"/>

</xs:schema>