choice_master/static/xml_files/question.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="questiontype">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>

      <xs:choice>

        <xs:sequence>
          <xs:element name="correct" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>

        <xs:sequence>
          <xs:element name="incorrect" maxOccurs="unbounded" type="xs:string"/>
          <xs:element name="correct" type="xs:string"/>
        </xs:sequence>

      </xs:choice>

      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="correct" type="xs:string"/>
        <xs:element name="incorrect" type="xs:string"/>
      </xs:choice>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="filetype">
    <xs:sequence>
      <xs:element name="question" maxOccurs="unbounded" type="questiontype"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="file" type="filetype"/>
</xs:schema>
